@font-face{
    font-family: 'Museo Cyrl 500';
    src: url('../fonts/Museo/MuseoCyrl-500.eot');
    src: url('../fonts/Museo/MuseoCyrl-500.eot?iefix') format('eot'),
    url('../fonts/Museo/MuseoCyrl-500.woff2') format('woff2'),
    url('../fonts/Museo/MuseoCyrl-500.woff') format('woff'),
    url('../fonts/Museo/MuseoCyrl-500.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('../fonts/Museo/MuseoCyrl-500.svg#svgMuseo') format('svg'); /* Legacy iOS */
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'Museo Cyrl 700';
    src: url('../fonts/Museo/MuseoCyrl-700.eot');
    src: url('../fonts/Museo/MuseoCyrl-700.eot?iefix') format('eot'),
    url('../fonts/Museo/MuseoCyrl-700.woff2') format('woff2'),
    url('../fonts/Museo/MuseoCyrl-700.woff') format('woff'),
    url('../fonts/Museo/MuseoCyrl-700.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('../fonts/Museo/MuseoCyrl-700.svg#svgMuseo') format('svg'); /* Legacy iOS */
    font-weight: normal;
    font-style: normal;
}
html{
   width: 100%;
   height:100% !important;
   padding: 0;
   margin: 0;
   font-family: 'Exo 2', sans-serif;}
body{
   width: 100%;
   height: 100% !important;
   padding: 0;
   margin: 0;
   font-family: 'Exo 2', sans-serif;
    background: #222;}
#mask {
    background: rgba(0,0,0,0.6) url("../images/filter.png") no-repeat 50% 50%;
    background-size: cover;
    height:100%;
    position:fixed;
    width:100%;
    top:0;
    left:0;
    opacity: 0.8;
}
.slideshow {
    width: 100%;
    height: 100%;
    position: fixed;
    margin: 0 auto;
    padding: 0;
}
.xs-slideshow {
    width: 100%;
    height: 100%;
    position: fixed;
    margin: 0 auto;
    padding: 0;
}
.slideshow img {
    height: 100%;
    width: 100%;
}
.xs-slideshow img {
    height: 100%;
    position: relative;
    left: -100%;
}

.container-fluid {
   padding: 0;
   display: flex;
   flex-direction: column;
   position: relative;}
.row {
   padding: 0;
   margin: 0;}
/* HEADER */
header {
    position: relative;
    z-index: 999;
}
.headerline {background-color:#202729;
    height: 60px;}
.logo {
    margin-left: 2%;
    min-width: 202px;
    max-width: 250px;
    float: left;
    position: relative;
    z-index:999;}
.logo img {
    width: 65px;
    float: left;
    margin-right: 10px;}
.logo a {
    color: #a3f7bf;
    font-family: 'Museo Cyrl 700', sans-serif;
    text-transform: uppercase;
    font-size: 20pt;
    display: block;
    padding: 10px 0;}
/* MAIN */
.content {
   padding: 0;
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    overflow: auto;   }
.logotype {
    width: 350px;
    height: 520px;

}
.logotype img {
    width: 350px;
}
.xs-content {
   padding: 0;
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    overflow: auto;
}
.xs-logotype {
    width: 30vh;
    min-height: 10px;
    height: 50%;
}
.xs-logotype img {
    width: 150px;
}
.swipe-btn {
    position: absolute;
    bottom: 15%;
    padding: 5px;
    text-decoration: none;
    text-shadow: 0 0 10px #000, 0 0 15px #000, 0 0 20px #000;
    color: #a2f6be;
    font-family: 'Museo Cyrl 700', sans-serif;
    transition: all 250ms;
    border-bottom: 2px solid rgba(0,0,0,0);
}
.swipe-btn span {
	font-size: 15pt;	
    display: block;
    float: left;
    margin: -3px 10px 0 0;
}
.swipe-btn:hover {
    border-bottom: 2px solid #68e184;  color: #a2f6be !important;
    text-decoration: none;}
}
.swipe-btn:visited {
    text-decoration: none !important;
    color: #a2f6be !important;
    border-bottom: 2px solid rgba(0,0,0,0) !important;
}
.swipe-btn:focus {
    text-decoration: none !important;
    color: #a2f6be !important;
    border-bottom: 2px solid rgba(0,0,0,0) !important;
}
.shadow {
    /* Use -webkit- only if supporting: Chrome < 54, iOS < 9.3, Android < 4.4.4 */
    -webkit-filter: drop-shadow( 0px 0px 15px #000 );
    filter: drop-shadow( 0px 0px 15px rgba(0,0,0,1) );
}
.description-content {
    padding: 0;
    height: 100%;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    overflow: auto;
}
.description {
    width: 70%;
    font-size: 15pt;
    font-family: "Segoe UI", sans-serif;
    color: rgb(160, 205, 175);
    line-height: 1.531;
    text-align: justify;
    text-shadow: 0 0 10px #000, 0 0 15px #000, 0 0 20px #000;
}
#description {
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    overflow: auto;
}
.xs-description {
    width: 90%;
    height: 50%;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    font-size: 12pt;
    font-family: "Segoe UI", sans-serif;
    color: rgb(160, 205, 175);
    line-height: 1.531;
    text-align: justify;
    text-shadow: 0 0 10px #000, 0 0 15px #000, 0 0 20px #000;
}
.button-play {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}
.xs-button-play {
    font-size: 5vmin !important;
    position: absolute;
    width: 70%;
    text-align: center;
    bottom: 15%;
}
.btn {
    cursor: pointer !important;
    background: none;
    outline: none;
    overflow: hidden;
    border: 2px solid #a2f6be;
    text-shadow: none;
    font-family: 'Museo Cyrl 700', sans-serif;
    text-transform: uppercase;
    color: #a2f6be;
    font-size: 20pt;
    padding: 10px 30px;
    transition: all 250ms;
    border-radius: 0;
}
.btn:hover {
    color: #404d51;
    border: 2px solid #a2f6be;
    background: #a2f6be !important;}
.btn:focus {
    color: #a2f6be;
    border: 2px solid #a2f6be !important;
    background: none !important;}
.btn:active {
    color: #404d51;
    border: 2px solid #a2f6be !important;
    background: #a2f6be !important;}
.no-padding {
    padding: 0 !important;
}
/* FOOTER */
footer {
   max-width: 100%;
   background-color: #091112;
   height: 60px;
    position: relative;
    z-index:11;}
.copyright {padding-left: 4%; float: left; line-height: 60px; color: #537e61;}
.powered-by {padding-right: 4%; float: right; line-height: 60px;}
.powered-by a {color: #3f664c;}
.clear {
    clear: both !important;
}

@media (min-width: 768px) and (max-width: 992px) {
    .description-content {
        margin-top: 250px;
    }
}
